<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width" name="viewport" />
	<title>Electonic Shop</title>

	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/fonts")
	@Styles.Render("~/Content/custom")
	@Scripts.Render("~/bundle/jquery")
	@Scripts.Render("~/Scripts/bootstrap")
	@Scripts.Render("~/Scripts/validate")
</head>
<body>
	<!-- navbar -->
	<div class="navbar">

		<!-- navbar-banner -->
		<div class="navbar-banner">
			<div class="container">
				<a class="brandname pull-left" href="Index.aspx">
					<img src="../../Resources/img/logo.png" />Electronic
					<strong>Shop</strong>
				</a>
				<span class="contact">Call us now: 1800 000 000</span>
			</div>
		</div>
		<!--/ navbar-banner -->

		<!-- navbar-inner -->
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav">						
						<li class="@if (ViewBag.Title.Equals("Home")) { <text>active</text> } ">
							<a href="@Url.Action("Index", "Home", null)">Home</a>
						</li>
						<li class="@if (ViewBag.Title.Equals("Products") || ViewBag.Title.Equals("Product")) { <text>active</text> } ">
							<a href="@Url.Action("Index", "Products", null)">Shop Online</a>
						</li>
						<li class="@if (ViewBag.Title.Equals("AboutUs")) { <text>active</text> } ">
							<a href="@Url.Action("Index", "AboutUs", null)">About Us</a>
						</li>
					</ul>

					<form class="form-search">
						<div class="input-append">
							<input name="searchQuery" id="searchQuery" type="text" placeholder="Search" />
							<button class="btn" type="submit">Go</button>
						</div>
					</form>

					<ul class="nav pull-right">
						<li>
							<a href="#" onclick="showCart()">
								Cart (<span id="shoppingCartCount"></span>)
							</a>
						</li>
					</ul>

				</div>
				<!--/ nav-collapse collapse -->
			</div>
			<!--/ container -->
		</div>
		<!--/ navbar-inner -->

	</div>
	<!--/ navbar -->

	@RenderBody()

	<div class="footer text-center">
		<p>&COPY; Company 2013</p>
	</div>

	<!-- Modal -->
	<div id="modalShoppingCart" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Shopping Cart" aria-hidden="true">
		
	</div>

	<script type="text/javascript">
		var viewBagTitle = '@(ViewBag.Title)';

		if (viewBagTitle == 'Checkout') {
			$('.navbar .navbar-inner').hide();
		}

		$.ajax({
			url: '/Products/CountCart',
			success: function (result) {
				$('#shoppingCartCount').html(result);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert("An error has occured: " + errorThrown);
			}
		});

		function showCart() {
			$.ajax({
				url: '/Products/ShowCart',
				success: function (result) {
					$('#modalShoppingCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				},
				complete: function () {
					$.ajax({
						url: '/Products/CountCart',
						success: function (result) {
							$('#shoppingCartCount').html(result);
							$('#modalShoppingCartHeader').html('Shopping Cart (' + result + ')');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							alert("An error has occured: " + errorThrown);
						}
					});
				}
			});

			$('#modalShoppingCart').modal('show');
		}

		function addToCart(id) {
			$.ajax({
				url: '/Products/AddToCart/' + id,
				success: function (result) {
					$('#modalShoppingCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				},
				complete: function () {
					$.ajax({
						url: '/Products/CountCart',
						success: function (result) {
							$('#shoppingCartCount').html(result);
							$('#modalShoppingCartHeader').html('Shopping Cart (' + result + ')');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							alert("An error has occured: " + errorThrown);
						}
					});
				}
			});

			$('#modalShoppingCart').modal('show');
		}

		function removeFromCart(id) {
			$.ajax({
				url: '/Products/RemoveFromCart/' + id,
				success: function (result) {
					$('#modalShoppingCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				},
				complete: function () {
					$.ajax({
						url: '/Products/CountCart',
						success: function (result) {
							$('#shoppingCartCount').html(result);
							$('#modalShoppingCartHeader').html('Shopping Cart (' + result + ')');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							alert("An error has occured: " + errorThrown);
						}
					});
				}
			});

			$('#modalShoppingCart').modal('show');
		}

		function editCart(id, quantity) {
			$.ajax({
				url: '/Products/EditCart/' + id + '?quantity=' + quantity,
				success: function (result) {
					$('#modalShoppingCart').html(result);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("An error has occured: " + errorThrown);
				},
				complete: function () {
					$.ajax({
						url: '/Products/CountCart',
						success: function (result) {
							$('#shoppingCartCount').html(result);
							$('#modalShoppingCartHeader').html('Shopping Cart (' + result + ')');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							alert("An error has occured: " + errorThrown);
							$('#modalShoppingCart').modal('hide');
						}
					});
				}
			});

			$('#modalShoppingCart').modal('show');
		}
	</script>

</body>
</html>
