@using MvcAssignment.Models
@model List<ShoppingCartItem>

@{decimal total = 0;}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="modalShoppingCartHeader">Shopping Cart</h3>
</div>
<div class="modal-body">

	@if (Model.Count > 0) {
		<table class="table">
			<tbody>
				@foreach (ShoppingCartItem item in @Model) { 
					<tr class="shoppingCartItem">
						<td>
							<img src="~/Resources/products/@(item.alias).jpg" class="pull-left"/>
							<span>@item.name</span>
							<br />
							<a href="#" onclick="removeFromCart(@item.id)">Remove</a>
						</td>
						<td style="width: 15%; text-align: center;">
							<span class="product-price">@String.Format("{0:0.000}", item.price) $</span><br />

							@if (item.old_price > 0 && item.old_price > item.price) {
								<span class="old-product-price">@String.Format("{0:0.000}", item.old_price) $</span>
							}

							@{var saleRate = Convert.ToInt32((item.old_price - item.price) / item.old_price * 100);}

							@if (saleRate > 0) {
								<span class="product-discount-rate">@saleRate % Off</span>
							}
						</td>
						<td style="width: 10%; text-align: center;">
							<select style="width:95%" onchange="editCart(@item.id, this.options[this.selectedIndex].value)">
								@for (int i = 1; i <= 20; i++) {
									if (i == item.quantity) { 
										<option selected="selected" value="@i">@i</option>
									} else {
										<option>@i</option>
									}									
								}
							</select>
						</td>
						<td style="width: 20%; text-align: right;">
							<span class="product-price">@String.Format("{0:0.000}", item.price * item.quantity) $</span>
							@{total = total + item.price * item.quantity;}
						</td>
					</tr>
				}
			</tbody>
		</table>
 } else {
		<center style="margin-top: 45px;">You have no item in your shopping cart!</center>
 }

</div>
<div class="modal-footer">
	<div>
		<strong>Total:</strong><span class="pull-right price-total">@String.Format("{0:0.000}", total) $</span>
	</div>
	<br />
	<div>
		<button class="btn btn-link pull-left" data-dismiss="modal" aria-hidden="true">&lt;&lt; Go Back</button>
		<button class="btn-large btn-red ">Continue to Check Out</button>
	</div>
</div>
