@{
	ViewBag.Title = "Products";
	Layout = "~/Views/Shared/_Layout.cshtml";	

	var filter = (String)ViewData["filter"];
	var categoryTree = (Dictionary<CategoryParent, List<Category>>)ViewData["categoryTree"];
	var products = (List<Product>)ViewData["products"];
	var page = Convert.ToInt32(ViewData["page"]);
	var countPages = Convert.ToInt32(ViewData["countPages"]);
}

<!-- .content -->
<div class="content">
	<div class="container">

		<div class="row-fluid">

			<div class="span3 sidebar">
				<ul class="nav nav-list">
					@foreach (var catParent in categoryTree.Keys) { 
						<li class="nav-header">@catParent.name</li>
						foreach (var category in categoryTree[catParent]) {
							@MyHtmlHelper.CategoryListItem(category, filter);
						}
					}
				</ul>
			</div>
			<!--/ .sidebar -->

			<div class="span9">
				@MyHtmlHelper.ProductsPageTitle("device", categoryTree, filter)

                <br />
				<br />

				@if (products.Count > 0) { 
					for (int i = 0; i < products.Count; ) {
						<div class="row-fluid row-products">
						@for (int j = 0; j < 4 && i < products.Count; j++, i++) { 
							@Html.Partial("_PartialProductSmall", @products.ElementAt(i))
						}
						</div>
						<!--/ row-products -->
					}
				} else {
					<span>No products available!</span>
				}
				

				@MyHtmlHelper.Paginations(page, countPages, filter)

			</div>

		</div>
		<!--/ .row-fluid -->

	</div>
	<!--/ .container -->
</div>
<!--/ .content -->
